<!DOCTYPE html>
<html
        th:fragment="parent(content,title,script)"
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-th-replace="${title}">Title</title>
    <link rel="stylesheet" data-th-href="@{'css/output.css'}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet">
</head>
<body>

    <div  data-th-replace="navbar :: navbar"></div>

   <section class="p-4" data-th-replace="${content}"></section>

    <th:block class="p-4" data-th-replace="${script}"></th:block>



    <footer class="p-4">Footer : Learn Code with durgesh</footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</body>
</html>