<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{::title} , ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Page</title>
    <style>
        .signup-card {
            margin-top: 1rem; /* Adjust the value as needed */
        }
    </style>
</head>
<body>
<div id="content">
    <div class="flex justify-center items-center h-screen">
        <div class="w-full max-w-md signup-card">
            <!-- separator line -->
            <div class="border-t border-blue-500 mb-4"></div>
            <!-- card -->
            <div
                    class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Signup Here</h5>
                <p class="font-normal text-gray-400 dark:text-gray-400">Start managing contact
                    on cloud</p>
                <form class="mt-4">
                    <!-- name -->
                    <div class="mb-3">
                        <label for="name"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            Name</label>
                        <input type="text" id="name"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Enter your name" required/>
                    </div>
                    <!-- email -->
                    <div class="mb-3">
                        <label for="email"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Email</label>
                        <input type="email" id="email"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Enter your email" required/>
                    </div>
                    <!-- password -->
                    <div class="mb-3">
                        <label for="password"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Password</label>
                        <input type="password" id="password"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Enter your password" required/>
                    </div>
                    <!-- about -->
                    <div class="mb-3">
                        <label for="about"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            About</label>
                        <textarea id="about"
                                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                  rows="3"
                                  placeholder="Enter your about information"></textarea>
                    </div>
                    <!-- buttons -->
                    <div class="flex justify-center space-x-4">
                        <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Sign Up
                        </button>
                        <button type="reset"
                                class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-700">
                            Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>console.log("signup page")</script>
</body>
</html>